* {
    margin: 0 auto;
    padding: 0;
    background-color: #f1f1f1fb
}

body {
    background-color: #f1f1f1fb
}

header {
    margin-bottom: -5%;
    padding: 0
}

ul li {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0)
}


/*icone de voltar em cada categoria*/

.icon_voltar {
    padding: 0;
    margin-left: 300px;
    margin-top: -450px;
    color: rgb(0, 0, 0)
}


/*categoria acao*/

.main-content {
    background-color: #f1f1f1fb
}

.title-categoria {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#filme {
    margin-left: -15px;
}


/*page config*/

.icon_voltar_config {
    padding: 0;
    margin-left: 270px;
    margin-top: 30px;
}

.icon_pessoa {
    padding: 0;
    margin-top: 50px;
    margin-left: -50px;
    margin-bottom: 25px;
    background-color: #fff;
    border-radius: 100px;
}

.opcao {
    margin-left: 20px;
}